.gradient-background {
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	left: 1px;
 	border-radius: 4px;
	background: linear-gradient(-90deg, #007cf0, #00dfd8, #ff0080, #007cf0);
	background-size: 400% 100%;
	border: none;
	padding: 0;
	margin: 0;
	animation: backgroundAnimation 8s ease-in-out infinite
}


@keyframes backgroundAnimation {
	50% {
		background-position: 140% 50%;
		transform: skew(-2deg)
	}
}

.gradient-background:after {
	content: "";
	position: absolute;
	background-size: inherit;
	background-image: inherit;
	-webkit-animation: inherit;
	animation: inherit;
	left: 0;
	right: 0;
	top: 2px;
	height: 100%;
	filter: blur(.5rem)
}